@font-face {
    font-family: 'GeneralSans-Regular';
    src: url('../../../../fonts/GeneralSans-Regular.otf');
}

h2 {
    font-family: 'GeneralSans-Regular', sans-serif;
}

div {
    font-family: 'GeneralSans-Regular', sans-serif;
}
